In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from src.data_prep import RecomendadorClimatico

In [22]:
path = '../data/raw/'

In [23]:
# 2.Importación fuente de datos

In [24]:
#Lectura datos históricos
df = pd.read_csv(path+'df_con_ph.csv',encoding = "ISO-8859-1",delimiter=',')

In [ ]:
"""
Fuente: NASA/POWER – Resolución nativa mensual y anual
Fechas (mes/día/año): del 01/01/1981 al 31/12/2025 en hora solar local (LST)
Ubicación: Latitud 9.8062  Longitud -83.8448
Elevación según MERRA-2: Promedio para una región de 0.5 x 0.625 grados de latitud/longitud = 1064.94 metros
Valor para datos faltantes que no pueden ser calculados o que están fuera del rango de disponibilidad de las fuentes: -999
Parámetro(s):
- PRECTOTCORR: Precipitación corregida de MERRA-2 (mm/día)
- PRECTOTCORR_SUM: Suma de la precipitación corregida de MERRA-2 (mm/día)
- QV2M: Humedad específica a 2 metros según MERRA-2 (g/kg)
- RH2M: Humedad relativa a 2 metros según MERRA-2 (%)
- T2M: Temperatura a 2 metros según MERRA-2 (°C)
- T2M_MAX: Temperatura máxima a 2 metros según MERRA-2 (°C)
- T2M_MIN: Temperatura mínima a 2 metros según MERRA-2 (°C)
"""

In [25]:
df.head()

,PARAMETER,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,...,MAR_PH_SUELO,APR_PH_SUELO,MAY_PH_SUELO,JUN_PH_SUELO,JUL_PH_SUELO,AUG_PH_SUELO,SEP_PH_SUELO,OCT_PH_SUELO,NOV_PH_SUELO,DEC_PH_SUELO
0,PRECTOTCORR,1981,2.64,3.32,1.72,6.02,6.66,11.86,3.34,9.65,...,6.5,6.7,7.6,6.9,4.2,5.1,7.2,7.4,4.6,8.0
1,PRECTOTCORR,1982,3.30,2.99,1.35,3.71,8.90,2.92,8.43,4.88,...,7.0,6.1,6.5,5.5,6.1,4.2,5.2,4.9,4.5,6.7
2,PRECTOTCORR,1983,1.38,0.09,0.93,3.76,3.01,4.61,5.27,5.66,...,4.2,7.1,4.8,7.2,4.6,4.2,5.7,6.3,4.4,6.6
3,PRECTOTCORR,1984,0.69,1.01,0.60,2.72,4.78,5.78,4.80,6.55,...,5.3,7.0,5.0,5.2,5.6,6.7,6.0,7.0,4.6,7.5
4,PRECTOTCORR,1985,1.94,0.41,0.50,0.84,2.21,8.02,5.41,4.31,...,5.2,5.5,7.7,7.0,6.6,5.1,5.1,7.1,5.2,7.1

In [26]:
df.tail()

,PARAMETER,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,...,MAR_PH_SUELO,APR_PH_SUELO,MAY_PH_SUELO,JUN_PH_SUELO,JUL_PH_SUELO,AUG_PH_SUELO,SEP_PH_SUELO,OCT_PH_SUELO,NOV_PH_SUELO,DEC_PH_SUELO
310,T2M_MIN,2021,13.59,15.41,13.38,15.34,15.95,15.07,16.23,15.62,...,4.8,5.7,4.8,5.4,5.7,6.3,4.8,5.5,7.9,5.2
311,T2M_MIN,2022,15.20,12.54,14.26,15.80,16.22,15.30,16.29,15.27,...,6.5,7.2,5.0,4.5,4.6,7.8,5.8,4.3,7.4,4.1
312,T2M_MIN,2023,14.71,13.53,15.29,14.76,16.99,15.81,16.89,17.24,...,5.2,5.4,7.0,7.6,7.0,7.6,6.2,5.4,5.3,4.5
313,T2M_MIN,2024,15.93,13.93,14.21,14.95,16.76,17.71,16.85,17.28,...,5.3,4.9,4.4,7.3,4.3,5.1,6.4,5.5,6.6,5.2
314,T2M_MIN,2025,14.90,15.61,15.96,16.50,-999.00,-999.00,-999.00,-999.00,...,7.0,4.3,5.8,4.1,6.6,4.2,6.2,4.2,5.2,6.3

In [27]:
#Notamos que anno 2025 como NO ha fanilizado tiene valores -999, esto afectaria el molode
#por lo que el grupo decide eliminar esta columna

In [28]:
# Filtrar los datos para eliminar el año 2025
df = df[df['YEAR'] != 2025]

In [29]:
df.to_csv(path+"/df_sin_2025.csv", index=False)

In [ ]:
# 3.Análisis de Datos (EDA) + Preprocesado

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 308 entries, 0 to 313
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PARAMETER     308 non-null    object
 1   YEAR          308 non-null    int64
 2   JAN           308 non-null    float64
 3   FEB           308 non-null    float64
 4   MAR           308 non-null    float64
 5   APR           308 non-null    float64
 6   MAY           308 non-null    float64
 7   JUN           308 non-null    float64
 8   JUL           308 non-null    float64
 9   AUG           308 non-null    float64
 10  SEP           308 non-null    float64
 11  OCT           308 non-null    float64
 12  NOV           308 non-null    float64
 13  DEC           308 non-null    float64
 14  ANN           308 non-null    float64
 15  JAN_PH_SUELO  308 non-null    float64
 16  FEB_PH_SUELO  308 non-null    float64
 17  MAR_PH_SUELO  308 non-null    float64
 18  APR_PH_SUELO  308 non-null    float64
 19  MAY_PH_SUELO  308 non-null    float64
 20  JUN_PH_SUELO  308 non-null    float64
 21  JUL_PH_SUELO  308 non-null    float64
 22  AUG_PH_SUELO  308 non-null    float64
 23  SEP_PH_SUELO  308 non-null    float64
 24  OCT_PH_SUELO  308 non-null    float64
 25  NOV_PH_SUELO  308 non-null    float64
 26  DEC_PH_SUELO  308 non-null    float64
dtypes: float64(25), int64(1), object(1)
memory usage: 67.4+ KB

In [31]:
df.isnull().sum() #Verificamos si hay valores nulos en alguna columna del dataframe

PARAMETER       0
YEAR            0
JAN             0
FEB             0
MAR             0
APR             0
MAY             0
JUN             0
JUL             0
AUG             0
SEP             0
OCT             0
NOV             0
DEC             0
ANN             0
JAN_PH_SUELO    0
FEB_PH_SUELO    0
MAR_PH_SUELO    0
APR_PH_SUELO    0
MAY_PH_SUELO    0
JUN_PH_SUELO    0
JUL_PH_SUELO    0
AUG_PH_SUELO    0
SEP_PH_SUELO    0
OCT_PH_SUELO    0
NOV_PH_SUELO    0
DEC_PH_SUELO    0
dtype: int64

In [32]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
YEAR,308.0,2002.500000,12.719090,1981.00,1991.7500,2002.500,2013.2500,2024.00
JAN,308.0,35.017695,41.495773,0.02,13.5250,18.945,36.1275,367.34
FEB,308.0,30.712468,30.396151,0.09,13.2225,19.040,29.1725,122.54
MAR,308.0,30.984610,33.185741,0.16,13.0875,19.605,29.5500,222.83
APR,308.0,37.819416,43.030779,0.39,14.1050,20.865,47.5225,292.17
MAY,308.0,55.654286,85.253147,1.06,15.3350,21.245,82.9250,785.07
JUN,308.0,57.761169,87.373877,2.47,15.5275,20.820,87.6875,768.48
JUL,308.0,55.178247,80.151263,2.41,15.0525,20.305,89.7925,539.28
AUG,308.0,53.434481,70.722279,2.08,15.1450,20.370,89.8550,384.70
SEP,308.0,53.965000,73.755661,2.65,15.1800,20.405,88.8900,434.19
OCT,308.0,59.385519,88.012341,2.29,15.3250,20.205,90.9075,557.39
NOV,308.0,53.470292,83.922154,1.06,14.8600,19.920,88.8375,779.73
DEC,308.0,42.147857,53.865165,0.67,14.1750,19.425,63.1825,334.01
ANN,308.0,298.970260,724.085790,1.92,13.7225,20.190,86.6525,4483.54
JAN_PH_SUELO,308.0,6.123701,1.135189,4.00,5.1750,6.250,7.1000,8.00
FEB_PH_SUELO,308.0,5.994481,1.152141,4.00,5.0000,5.800,7.0000,8.00
MAR_PH_SUELO,308.0,5.873701,1.090314,4.00,4.9750,5.800,6.7000,8.00
APR_PH_SUELO,308.0,5.975325,1.139650,4.00,5.0000,5.900,7.0000,8.00
MAY_PH_SUELO,308.0,5.987987,1.134197,4.00,5.0000,6.000,6.9250,8.00
JUN_PH_SUELO,308.0,5.917208,1.154793,4.00,4.9000,5.900,6.9000,8.00
JUL_PH_SUELO,308.0,5.876299,1.134443,4.00,4.9000,5.900,6.8000,8.00
AUG_PH_SUELO,308.0,5.995130,1.183357,4.00,4.9750,5.900,7.1000,8.00
SEP_PH_SUELO,308.0,5.959740,1.164710,4.00,4.9000,6.000,7.0250,8.00
OCT_PH_SUELO,308.0,5.926948,1.123058,4.00,4.9000,5.800,6.9000,8.00
NOV_PH_SUELO,308.0,6.061688,1.178869,4.00,5.0000,6.000,7.1250,8.00
DEC_PH_SUELO,308.0,6.071429,1.182209,4.00,5.1000,6.100,7.1000,8.00

In [33]:
df

,PARAMETER,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,...,MAR_PH_SUELO,APR_PH_SUELO,MAY_PH_SUELO,JUN_PH_SUELO,JUL_PH_SUELO,AUG_PH_SUELO,SEP_PH_SUELO,OCT_PH_SUELO,NOV_PH_SUELO,DEC_PH_SUELO
0,PRECTOTCORR,1981,2.64,3.32,1.72,6.02,6.66,11.86,3.34,9.65,...,6.5,6.7,7.6,6.9,4.2,5.1,7.2,7.4,4.6,8.0
1,PRECTOTCORR,1982,3.30,2.99,1.35,3.71,8.90,2.92,8.43,4.88,...,7.0,6.1,6.5,5.5,6.1,4.2,5.2,4.9,4.5,6.7
2,PRECTOTCORR,1983,1.38,0.09,0.93,3.76,3.01,4.61,5.27,5.66,...,4.2,7.1,4.8,7.2,4.6,4.2,5.7,6.3,4.4,6.6
3,PRECTOTCORR,1984,0.69,1.01,0.60,2.72,4.78,5.78,4.80,6.55,...,5.3,7.0,5.0,5.2,5.6,6.7,6.0,7.0,4.6,7.5
4,PRECTOTCORR,1985,1.94,0.41,0.50,0.84,2.21,8.02,5.41,4.31,...,5.2,5.5,7.7,7.0,6.6,5.1,5.1,7.1,5.2,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,T2M_MIN,2020,16.08,13.96,15.73,15.52,17.21,15.56,14.07,14.97,...,6.2,6.0,6.9,5.9,6.8,4.8,4.9,4.9,7.3,6.6
310,T2M_MIN,2021,13.59,15.41,13.38,15.34,15.95,15.07,16.23,15.62,...,4.8,5.7,4.8,5.4,5.7,6.3,4.8,5.5,7.9,5.2
311,T2M_MIN,2022,15.20,12.54,14.26,15.80,16.22,15.30,16.29,15.27,...,6.5,7.2,5.0,4.5,4.6,7.8,5.8,4.3,7.4,4.1
312,T2M_MIN,2023,14.71,13.53,15.29,14.76,16.99,15.81,16.89,17.24,...,5.2,5.4,7.0,7.6,7.0,7.6,6.2,5.4,5.3,4.5
313,T2M_MIN,2024,15.93,13.93,14.21,14.95,16.76,17.71,16.85,17.28,...,5.3,4.9,4.4,7.3,4.3,5.1,6.4,5.5,6.6,5.2

In [34]:
recomendador = RecomendadorClimatico(path+"df_sin_2025.csv", path+"datos_con_recomendaciones_completo.csv")
recomendador.procesar()

✅ Archivo generado: ../data/raw/datos_con_recomendaciones_completo.csv